.sub-header__toggler {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 3rem;
    justify-content: end;
    padding: 0.5rem 0;
    position: fixed;
    right: 0.5rem;
    top: 0;
    width: 3rem;
    z-index: 3;
}

.sub-header__toggler::before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z'/%3E%3C/svg%3E");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 1.5rem;
    width: 1.5rem;
}

.sub-header__toggler::after {
    content: "メニュー";
    font-size: 10px;
    height: 10px;
    line-height: 10px;
}

.sub-header__toggler.toggler_show::before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z'/%3E%3C/svg%3E");
}

.sub-header__toggler.toggler_show::after {
    content: "閉じる";
}

.drawer {
    background-color: rgba(0, 0, 0, 0.16);
    height: 100vh;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: all ease 0.25s 0.25s;
    visibility: hidden;
    width: 100vw;
    z-index: 2;
}

.drawer_show {
    opacity: 1;
    visibility: visible;
}

.drawer__dialog {
    background-color: var(--color-white);
    height: 100%;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    transition: all ease 0.2s 0.25s;
    visibility: hidden;
    width: 20%;
}

.drawer_show>.drawer__dialog {
    visibility: visible;
    width: 80%;
}

.drawer__dialog_header {
    display: grid;
    grid-template-rows: 3rem 1fr 20%;
}

.drawer__header {
    align-items: center;
    border-bottom: 1px dotted var(--color-gray-light);
    display: flex;
    height: 3rem;
    padding: 0 1rem;
}


.sub-header__btn-list {
    list-style: none;
}

.drop-down__btn {
    align-items: center;
    display: flex;
    height: 3rem;
    justify-content: space-between;
    padding: 0 1rem;
    width: 100%;
}

.drop-down__btn:hover {
    background-color: var(--color-gray-light);
}

.drop-down__btn::after {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 1.5rem;
    transform: rotate(0);
    width: 1.5rem;
}

.drop-down_open .drop-down__btn::after {
    transform: rotate(-90deg);
}

.drop-down__content {
    height: 0;
    overflow: hidden;
}

.drop-down_open .drop-down__content {
    height: auto;
}

.drop-down__list {
    list-style: none;
    padding-left: 1rem;
}

.drop-down__list-item {
    align-items: center;
    display: flex;
    height: 3rem;
    justify-content: space-between;
    padding: 0 1rem;
    width: 100%;
}

.drawer__footer {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    row-gap: 1rem;
    width: 100%;
}