@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0);
@import url(./share/button.css);
@import url(./share/header.css);
@import url(./share/footer.css);
@import url(./share/drawer.css);
@import url(./share/modal.css);
@import url(./share/form.css);
@import url(./share/input.css);
@import url(./user/law.css);
@import url(./user/tmp_mypage.css);
@import url(./user/info.css);
@import url(./company.css);

:root {
    --color-black: #000;
    --color-white: #FFF;
    --color-link: #1A0DAB;
    --color-link-light: #1558D6;
    --color-danger: #FF0000;
    --color-danger-light: #FFEDEB;
    --color-gray: #7A7A7A;
    --color-gray-light: #E0E0E0;

    --color-gray-input: #FAFAFA;
    --color-gray-medium: #A3A3A3;
    --color-gray-bg: #F7F7F7;
    --color-gray-border: #A3A3A3;

    --color-status-green: #068F4F;
    --color-status-green-light: #E2F6E8;
    --color-status-yellow: #F70;
    --color-status-yellow-light: #FFECD6;
    --color-status-gray: #666;
    --color-status-gray-light: #EBEBEB;

    --font-2xs: 10px;
    --font-xs: 12px;
    --font-sm: 14px;
    --font-bs: 16px;
    --font-lg: 18px;
    --font-xl: 20px;
    --font-2xl: 24px;
    --font-3xl: 30px;
    --font-4xl: 36px;

    --line-height-single: 1;
    --line-height-mult: 1.4;

    --main-header-height: 82px;
    --sub-header-height: 3em;

    --font-family: 'メイリオ', 'Meiryo', 'ヒラギノ角ゴ', 'Arial', 'Helvetica';

    --shadow-bottom: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
}

* {
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: var(--font-bs);
    line-height: var(--line-height-single);
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a,
a:visited {
    text-decoration: none;
    cursor: pointer;
}

button {
    color: var(--color-black);
    background: none;
    border: none;
    cursor: pointer;
}

.material-symbols-outlined {
    line-height: var(--font-bs);
}

body {
    min-height: 100vh;
}

.main {
    padding: 4rem;
}

.main_gray {
    background-color: var(--color-gray-bg);
}

.main_paddingx_no {
    padding: 4rem 0;
}

.main__header {
    font-size: var(--font-3xl);
    margin-bottom: 2rem;
}

.main__header_center {
    text-align: center;
}

/* link */

.link {
    color: var(--color-link);
}

.link:hover {
    text-decoration: underline;
    color: var(--color-link-light);
}

.link_icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.link_icon:hover {
    text-decoration: none;
}

.link_reference {
    width: fit-content;
    position: relative;
    padding-right: 1.5rem;
}

.link_margin_start {
    margin-left: 1rem;
}

.link_reference::after {
    content: '';
    height: 1.25rem;
    width: 1.25rem;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -55%);
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24' fill='%231558D6'%3E%3Cpath d='M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z'/%3E%3C/svg%3E");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.link_reference:hover:after {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24' fill='%231A0DAB'%3E%3Cpath d='M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z'/%3E%3C/svg%3E");
}

/* description */

.description {
    line-height: 1.4;
}

.description_color_gray {
    color: var(--color-gray);
}

.description_font_sm {
    font-size: var(--font-sm);
}

/* pdf */

.pdf-preview {
    width: 150px;
    height: 150px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.pdf-preview__loading:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.pdf-preview__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid black;
}

@media screen and (max-width: 888px) {
    .main {
        padding: 2rem 1rem;
    }

    .main_paddingx_no {
        padding: 2rem 0;
    }

    .main__header {
        display: none;
    }
}