/* 
== user info page ==
main
main__content main__content_user-info
  user-info__section
    user-info__header
    user-info__item
      user-info__content
        user-info__label
        user-info__value
*/
.main__content_user-info {
    column-gap: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
    row-gap: 4rem;
}

.user-info__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.user-info__header-text {
    font-size: var(--font-2xl);
    font-weight: normal;
}

.user-info__content .user-info__item:not(:last-child) {
    margin-bottom: 0.5rem;
}

.user-info__item {
    align-items: center;
    border-bottom: 1px solid var(--color-gray-light);
    display: flex;
    justify-content: space-between;
}

.user-info__item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
}

.user-info__label {
    font-size: var(--font-xs);
    margin-bottom: 0.5rem;
}

.user-info__item-content .user-info__value:not(:last-child) {
    margin-bottom: 0.25rem;
}

.user-info__link {
    align-items: center;
    color: var(--color-link-light);
    display: flex;
}

.user-info__link::after {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' fill='%231558D6' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z'/%3E%3C/svg%3E");
    background-position: 0.5rem -1px;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 1rem;
    width: 1.5rem;
}

.user-info__link:hover {
    color: var(--color-link);
}

.user-info__link:hover::after {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' fill='%231A0DAB' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z'/%3E%3C/svg%3E");
}

@media screen and (max-width: 888px) {

    .main_gray_phone {
        background-color: var(--color-bg-gray);
    }

    .main__content_user-info {
        grid-template-columns: 1fr;
        padding: 1rem 0;
        row-gap: 1rem;
    }

    .user-info__section {
        background-color: var(--color-white);
        padding: 1rem;
    }
}